<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <!-- <ion-item class="item-toggle">
        Enable Friends
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item> -->
    </ion-list>
    <div class="padding">
      <p ng-if="state === 'Unsigned'">
        Faça login para você poder compartilhar suas listas e salvar na núvem.
      </p>

      <div ng-if="state === 'Signed'">
        <p>Ola {{account.name}}!</p>
        <p>Sua conta está ativa.</p>
      </div>
    </div>

    <button ng-click="facebook()" ng-if="state === 'Unsigned'" class="button button-full">
      Login com Facebook
    </button>
    <button ng-click="google()" ng-if="state === 'Unsigned'" class="button button-full">
      Login com Google
    </button>

    <button ng-click="sync()" class="button button-full">
      Sync
    </button>

    <button ng-click="reset()" class="button button-full button-assertive">
      Limpar todos os dados
    </button>
  </ion-content>
</ion-view>
