<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    <ion-item>{{user.email}}</ion-item>
    <button ng-click="google()" ng-show="user == null" class="button button-full">
      Login com Google
    </button>
    <button ng-click="logout()" ng-hide="user == null" class="button button-full">
      Logout
    </button>
    <button ng-click="validate()" class="button button-full">Validate</button>
    </ion-list>
  </ion-content>
</ion-view>
